:root.theme-dark {
  --bg-color: #013e37;
  --main-color: #ffefb3;
  --font-color: #ffefb3;
  --second-font-color: #fff;
  --error-font-color: #a03030;
  --grid-bg-color: #1e1e1ea1;
  --grid-border-color: #1e1e1ecc;
  --avatar-bg-color: #1e1e1ea1;
  --avatar-border-color: #1e1e1ecc;
  --shadow-element: 2px 2px 4px rgba(19, 19, 19, 0.724);
}
