:root {
  --bg-color: #013e37;
  --main-color: #ffefb3;
  --font-color: #ffefb3;
  --second-font-color: #fff;
  --error-font-color: #a03030;
  --grid-bg-color: #1e1e1ea1;
  --grid-border-color: #1e1e1ecc;
  --ru-font: 'Hasklig', 
    'SF Mono', Menlo, 
    Consolas, 
    'Courier New', 
    monospace;
    
  --en-font: 'FiraCode', 
    'SF Mono', Menlo, 
    Consolas, 
    'Courier New', 
    monospace;

    --font-family: var(--ru-font);
  }