.container {
  display: flex;
  width: 80%;
  padding: 20px 4px;
  justify-content: space-around;
  border-top: 4px solid var(--grid-border-color);
}

@media (width < 700px) {
  .container {
    flex-direction: column;
    border: none;
    padding: 0;
    width: auto;
    gap: 20px;
  }
}

.link {
  width: 30px;
  cursor: pointer;
}

.link:hover,
.link:focus {
  opacity: 0.85;
}

.link:active {
  transform: scale(0.95);
}

.img {
  width: 100%
}