.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.heading {
  margin: auto;
  color: var(--main-color);
  font-size: 60px;
  font-family: 'hasklig',Arial, sans-serif;
  text-align: center;
}

.fontsGrid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.fontsList {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fontsList li {
  list-style: none;
  padding: 6px 8px;
  color: var(--main-color);
}

.hasklig {
  font-family: 'hasklig',Arial, sans-serif;
}

.firacode {
  font-family: 'firacode', monospace;
}