.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media (width < 1100px) {
  .container {
    gap: 12px;
  }
}

@media (width < 600px) {
  .container {
    display: block;
  }
}

.icon {
  background-color: var(--grid-bg-color);
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  box-shadow: var(--shadow-element);
}

@media (width < 1100px) {
  .icon {
    width: 34px;
  }
}

@media (width < 600px) {
  .icon {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  justify-content: center;
  position: relative;
}